<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Harnest</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSBonjourServices</key>
    <array/>
    <key>NSContactsUsageDescription</key>
    <string>Harnest 需要访问通讯录以查询、创建和管理联系人。</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Harnest 需要访问日历以查询、创建和管理日程事件。</string>
    <key>NSCalendarsWriteOnlyAccessUsageDescription</key>
    <string>Harnest 需要写入日历以创建日程事件。</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Harnest 需要访问相册以选取和管理照片。</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Harnest 需要保存照片到相册。</string>
    <key>NSCameraUsageDescription</key>
    <string>Harnest 需要使用相机以拍摄照片。</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Harnest 需要使用麦克风以录制音频。</string>
</dict>
</plist>
